@import "./base/base";
@import "./utils/variables";
@import"./utils/keyframes";
@import"./utils/mixins";
@import"./components/btn";
@import"./components/hr";
@import"./layout/loader";
@import"./layout/footer";
@import"./layout/header";
@import"./pages/index";


.bgimg{
    height:300px;
    & img{
        height:100%;
        width:100%;
        object-fit: cover;
    }
}
.menu{
    display:flex;
    flex-direction:column;
    background-color: $bgcolor;
    border-radius: 25px 25px 0 0;
    padding:25px;
    position:relative;
    bottom:50px;
    &__title{
        font-family: $titlefont;
        display:flex;
        justify-content: space-between;
        & i{
            font-size: 30px;
            &:hover{
            @include heartfill;
            }
        }
    }
    & h3{
        margin-top:25px;
    }
    & ul{
        & li{
            display:flex;
            flex-direction:column;
            background-color: white;
            border-radius:15px;
            box-shadow: 0px 5px 20px rgb(153 153 153 / 30%);
            margin: 15px 0 15px 0;
            padding: 15px;
        }
        .ul__description{
            display:flex;
            justify-content: space-between;
            font-size:14px;
        }
    }
    & .btn{
        align-self: center;
        display:flex;
        justify-content: center;
        width:50%;
        margin: 25px 0 25px 0;
    }
}







